<% content_for :title, 'About' %>
<% content_for :description, 'About myself' %>
<% content_for :javascript do %>
  <%= javascript_pack_tag 'javascripts/about' %>
<% end %>

<!-- Page Header -->
<header class="masthead about-header" style="background-image: url('<%= image_path 'about.jpg' %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container" id="about-page">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="right-col-block blocks">
        <section class="intro section-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Mình là ai</h2>
                </div>
              </div>
              <div class="col-md-12">
                <p>
                  Chào các bạn, mình là <b>Đức</b>, người tạo ra NDD Blog này. Hiện tại, mình đang sống và làm việc tại Nhật Bản.
                  Công việc của mình là Web developer, chủ yếu là làm backend với Rails, nhưng cũng thỉnh thoảng đá
                  sang làm frontend 1 tí nên ít nhất cũng biết html, css, js là gì 😂
                </p>

              </div>
            </div>
          </div>
        </section>

        <section class="intro section-wrapper gray-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Tại sao lại có blog này</h2>
                </div>
              </div>
              <div class="col-md-12">
                <p>
                  Mình thì luôn muốn được trải nghiệm những cái mới (công nghệ mới, vùng đất mới...), vì vậy mình cần 1 nơi
                  để lưu lại và chia sẻ những thứ đã học và làm được cho mọi người. Và đó chính là NDD blog.
                </p>
                <p>
                  À tất nhiên là còn những lý do khác như là rảnh quá không biết làm gì, thấy bạn bè ai cũng viết blog nên đua đòi,
                  có cái ghi vào CV cho đẹp, có chỗ để xàm, vân vân và mây mây..... 😌
                </p>

              </div>
            </div>
          </div>
        </section>

        <section class="expertise-wrapper section-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Kỹ năng</h2>
                </div>
              </div>
            </div>
            <!-- .row -->

            <div class="row">
              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Làm việc nhóm</h4>

                  <p>
                    Từng làm việc trong 1 team 8 người. Biết cách phối hợp để tạo hiệu quả cao.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Tự học</h4>

                  <p>
                    Tự học tiếng Nhật tại nhà trong 3 năm. (giờ đã có N2 😎)
                  </p>
                </div>
              </div>
            </div>
            <!-- .row -->
            <div class="row">
              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Giải quyết vấn đề</h4>

                  <p>
                    Có khả năng tự tìm cách và giải quyết các vấn đề khó khăn.
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Tiếp cận công nghệ</h4>

                  <p>
                    Luôn hứng thú với công nghệ mới nên có khả năng tiếp cận công nghệ nhanh chóng, hiệu quả.
                  </p>
                </div>
              </div>
            </div>
            <!-- .row -->
          </div>
          <!--.container-fluid-->
        </section>
        <!-- .expertise-wrapper -->

        <section class="section-wrapper skills-wrapper gray-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Ngôn ngữ lập trình</h2>
                </div>
              </div>
            </div>

            <!--.row-->
            <div class="row">

              <div class="col-md-12">
                <% @skills.each do |skill| %>
                  <skill-progress skill_name="<%= skill[:name] %>" :percentage="<%= skill[:percentage] %>" color="<%= skill[:color] %>"></skill-progress>
                <% end %>
              </div>
              <!--.row -->
            </div>
            <!-- .container-fluid -->
          </div>
        </section>
        <!-- .skills-wrapper -->
        <br>
        <section class="section-wrapper section-experience">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title"><h2>Kinh nghiệm làm việc</h2></div>
              </div>
            </div>
            <!--.row-->
            <div class="row">
              <div class="col-md-12">
                <customer-timeline :items="<%= @job_timelines.to_json %>"></customer-timeline>
              </div>
            </div>
            <!--.row-->
          </div>
          <!-- .container-fluid -->

        </section>
        <!-- .section-experience -->

        <section class="section-wrapper section-education gray-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title"><h2>Sự nghiệp học hành</h2></div>
              </div>
            </div>
            <!--.row-->
            <div class="row">
              <div class="col-md-12">
                <customer-timeline :items="<%= @education_timelines.to_json %>"></customer-timeline>
              </div>
            </div>
            <!--.row-->
          </div>
          <!-- .container-fluid -->

        </section>
        <!-- .section-education -->

        <section class="section-wrapper section-interest">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Sở thích</h2>
                </div>
              </div>
            </div>
            <!-- .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="content-item">
                  <h4>Game</h4>

                  <p>
                    Lúc bé cũng ham chơi game lắm, giờ đỡ nhiều rồi, do đi làm về mệt chả muốn chơi nữa.
                    Kinh nghiệm đầy mình trong 1 số trò như Dota 2 ( 8 năm ), Counter Strike ( từ lớp 4 =)) )....
                  </p>
                </div>
                <div class="content-item">
                  <h4>Thể thao</h4>

                  <p>
                    Không thích xem và chơi đá bóng nhưng thích chơi Pes. Có <b>tận</b> 3 năm kinh nghiệp chơi cầu lông,
                    nhưng đó là chuyện quá khứ rồi, giờ thì gà lắm 😢. Từ khi qua Nhật mình chuyển qua môn luyện cơ chân, mỗi ngày đi làm đứng khoảng 1h30' trên tàu :v.
                  </p>

                </div>
                <div class="content-item">
                  <h4>Manga và Anime</h4>

                  <p>
                    Manga thì thích xem từ bé rồi, còn Anime thì phải đến năm 2 đại học mới xem nhiều. Chính 2 thứ này
                    là khởi đầu cho mong muốn đi Nhật của mình, may mà giờ cũng đạt được, không bỏ phí mấy năm học tiếng.
                  </p>
                </div>
              </div>
            </div>
            <!-- .row -->

          </div>
        </section>
        <!-- .section-publications -->

      </div>
    </div>
  </div>
</div>
