<% content_for :title, 'Home' %>
<% content_for :description, 'NDD Blog | Blog của Đức' %>

<% content_for :css_tags do %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= stylesheet_link_tag 'sidebar', media: 'all' %>
<% end %>

<!-- Page Header -->
<header class="masthead home-header" style="background-image: url('<%= image_path 'home-bg.jpg' %>')">
  <div class="overlay"></div>
  <div class="famous-quote">

    <div class="quote">&ldquo; IT'S NOT A BUG, IT'S A FEATURE <span class="quote-mark">&bdquo;</span></div>
    <div class="author">Unknown</div>
  </div>
</header>
<div class="pwa-install-guide">
  <div>
    <%= image_tag 'logo.png' %>
    <span>Cài đặt app để trải nghiệm tốt hơn.</span>
    <button id="install-btn">Ok</button>
    <button id="cancel-btn">No</button>
  </div>
</div>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-9">
      <div class="post-list">
        <%= render @posts %>
      </div>
      <%= paginate @posts %>
    </div>
    <div class="col-sm-12 col-lg-3">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</div>

<hr>
<% content_for :javascript do %>
  <%= javascript_include_tag 'sw_reg' %>
  <%= javascript_include_tag 'pwa_install' %>
<% end %>
