<% content_for :title, 'Home' %>
<% content_for :description, 'NDD Blog | Blog của Đức' %>

<!-- Page Header -->
<header class="masthead home-header" style="background-image: url('<%= image_path 'home-bg.jpg' %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2><span class="quote-mark">&ldquo;</span> IT'S NOT A BUG, IT'S A FEATURE <span class="quote-mark">&bdquo;</span></h2>
          <span class="subheading" style="position: absolute; right: 100px">Unknown</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="pwa-install-guide">
  <div>
    <%= image_tag 'logo.png' %>
    <span>Cài đặt app để trải nghiệm tốt hơn.</span>
    <button id="install-btn">Ok</button>
    <button id="cancel-btn">No</button>
  </div>
</div>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-list">
        <%= render @posts %>
      </div>
      <% unless @load_done %>
        <div class="load-more-wrapper">
          <%= image_tag 'loading.gif', class: 'loading-gif' %>
          <!-- Pager -->
          <div class="clearfix">
            <%= link_to "Older Posts &rarr;".html_safe, root_url, class: 'btn btn-primary float-right load-more' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>
<% content_for :javascript do %>
  <%= javascript_include_tag 'sw_reg' %>
  <%= javascript_include_tag 'pwa_install' %>
<% end %>
