<!DOCTYPE html>
<html>
<head>
  <title><%= t 'title' %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="<%= image_path('favicon-32x32.png') %>" rel=icon>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'admin/now_ui_dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'admin/common', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'jquery3', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolins-track': 'reload' %>
  <%= javascript_include_tag 'turbolinks', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'rails-ujs', 'data-turbolins-track': 'reload' %>
  <%= javascript_include_tag 'jquery-ui', 'data-turbolins-track': 'reload' %>
  <%= javascript_include_tag 'popper.min', 'data-turbolins-track': 'reload' %>
  <%= javascript_include_tag 'admin/now_ui_dashboard', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="background login-text">
  <%= render 'shared/flash', flash: flash %>
  <div class="background-image" style="background-image:url(<%= image_path('login_bg.jpg') %>)"></div>
  <div class="container">
    <div class="col-md-4 ml-auto mr-auto">
      <div class="card-plain card-login">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-header text-center no-border">
          <%= image_tag 'login_ava.jpg', style: 'margin: 80px 0px 25px 0px; height: 130px;', class: 'rounded-circle img-raised' %>
        </div>
        <div class="card-body">
            <div class="input-group form-group no-border input-lg login-input-group">
            <span class="input-group-addon login-text">
              <i class="now-ui-icons ui-1_email-85"></i>
            </span>
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="input-group form-group no-border input-lg login-input-group">
            <span class="input-group-addon login-text">
              <i class="now-ui-icons text_caps-small"></i>
            </span>
              <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-check" style="text-align: left">
                <label class="form-check-label">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  Remember me
                  <span class="form-check-sign">
              </span>
                </label>
              </div>
            <% end %>

        </div>
        <div class="card-footer">
          <%= f.submit 'Get Started', class: 'btn btn-primary btn-round btn-lg full-width'%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
