<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to 'ducnojinsei', root_url ,class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Trang chủ', root_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Chuyện Kỹ Thuật', nil, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Chuyện Đời', nil, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Chuyện Giải Trí', nil, class: 'nav-link' %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>