<aside id="sidebar">
  <div id="search-box">
    <%= form_tag '#' do %>
      <%= text_field_tag :query, nil, { placeholder: 'Tìm kiếm...' } %>
      <%= button_tag :submit, class: 'btn' do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div id="popular-posts-box">
    <div class="label">Popular</div>
    <div class="posts">
      <% popular_posts.each do |popular_post| %>
        <div class="post">
          <div class="cover">
            <a href="<%= post_url(popular_post) %>">
              <%= image_tag popular_post.cover_url, class: 'w100' %>
            </a>
          </div>
          <div class="title">
            <a href="<%= post_url(popular_post) %>">
              <%= popular_post.title %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="tags-box">
    <div class="label">Tags</div>
    <div class="tags">
      <% Tag.all.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: 'btn' %>
      <% end %>
    </div>
  </div>
</aside>
