<% content_for :css_tags do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<% end %>
<% content_for :js_tags do %>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<% end %>
<%= form_for [:admin, @post], multipart: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row justify-content-center">
    <div class="col-md-8 margin-20">
      <div class="rounded" id="background-preview" style="background-image: url(<%= asset_path image_url(@post.cover) %>);">
        <%= f.file_field :cover %>
      </div>
      <div class="form-group" style="margin-top: 20px">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group" style="margin-top: 20px">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', rows: 10 %>
      </div>

      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @post.category_id),
                     {include_blank: 'Select from below'}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag :tag %>
        <ul id="form-tags">
          <% @post.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
      </div>

      <div>
        <%= f.label :published %>
        <%= f.check_box :published, class: 'form-control' %>
      </div>

      <%= f.submit t('submit'), class: 'btn btn-primary btn-round full-width' %>
    </div>
  </div>
<% end %>
<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    new SimpleMDE({
      spellChecker: false,
      autosave: {
        enabled: true,
        uniqueId: "post-<%= @post.id %>",
        delay: 5000,
      },
      renderingConfig: {
        singleLineBreaks: false,
        codeSyntaxHighlighting: true,
      },
    });
  </script>
<% end %>
