<div class="card">
  <div class="card-header">
    <h4 class="card-title">Posts</h4>
    <div class="header-actions">
      <%= link_to new_admin_post_url, class: 'btn-primary' do %>
        <i class="fa fa-plus"></i> New Post
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <%= search_form_for [:admin, @q], class: "mb-4" do |f| %>
      <div class="d-flex flex-wrap align-items-end gap-3" style="gap: 1rem;">
        <div class="flex-grow-1" style="min-width: 200px;">
          <label class="text-sm text-muted mb-1">Search</label>
          <%= f.search_field :title_cont, class: 'form-control', placeholder: t('.search_placeholder') %>
        </div>
        <div style="min-width: 200px;">
          <label class="text-sm text-muted mb-1">Category</label>
          <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, :id, :name), { include_blank: 'All Categories'}, class: 'form-control' %>
        </div>
        <div>
          <%= button_tag class: 'btn-primary' do %>
            <i class="fa fa-search"></i> Search
          <% end %>
        </div>
      </div>
    <% end %>

    <table class="modern-table">
      <thead>
        <tr>
          <th><%= t 'stt' %></th>
          <th class="no-sort"><%= Post.human_attribute_name(:cover) %></th>
          <th><%= Post.human_attribute_name(:title) %></th>
          <th><%= Post.human_attribute_name(:category) %></th>
          <th>Status</th>
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @posts %>
      </tbody>
    </table>
  </div>
</div>
