<%= image_tag image_url(@post.cover), class: 'post-show-cover' %>
<div class="row justify-content-center">
  <div class="post-show-content col-md-11">
    <div class="post-show-title">
      <%= @post.title %>
    </div>
    <hr>
    <%= markdown(@post.content) %>
  </div>
  <div class="tags text-right col-md-11">
    <% @post.tags.each do |tag| %>
      <%= link_to tag.name, admin_tag_url(tag), class: 'tag' %>
    <% end %>
  </div>
  <div class="text-right col-md-11">
    <%= link_to edit_admin_post_url(@post), class: 'btn btn-primary btn-icon btn-round' do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    <%= link_to post_url(@post), target: 'blank', class: 'btn btn-success btn-icon btn-round' do %>
      <i class="fa fa-share-square-o"></i>
    <% end %>
  </div>
</div>
