<% content_for :title, "##{@tag.name}" %>
<% content_for :description, "Các bài viết theo tag ##{@tag.name}" %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= image_path 'label_tag.jpg' %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2><%= "##{@tag.name}" %></h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-list">
        <%= render @posts %>
      </div>
      <%= image_tag 'loading.gif', class: 'loading-gif' %>
      <!-- Pager -->
      <div class="clearfix">
        <%= link_to "Older Posts &rarr;".html_safe, tag_url(@tag), class: 'btn btn-primary float-right load-more' %>
      </div>
    </div>
  </div>
</div>

<hr>
