<div class="post-preview">
  <a href="<%= post_url(post) %>">
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= post.description %>
    </h3>
  </a>
  <p class="post-meta">Posted by <b><%= post.user.name %></b> on <%= post.created_at.to_date %></p>
  <div class="tags">
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, tag_url(tag), class: 'black' %>
    <% end %>
  </div>
</div>
<hr>