<div class="post-preview" data-id="<%= post.id %>">
  <a href="<%= post_url(post) %>">
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= post.description %>
    </h3>
  </a>
  <ul class="post-meta post-info">
    <li class="text-italic"><i class="far fa-user"></i> <%= post.user.name %></li>
    <li>|</li>
    <li class="text-italic"><i class="far fa-clock"></i> <%= post.created_at.to_date %></li>
    <li>|</li>
    <li class="text-italic"><i class="far fa-thumbs-up"></i> <%= post.clap_count %></li>
  </ul>
  <div class="tags">
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, tag_url(tag), class: 'black' %>
    <% end %>
  </div>
</div>
<hr>
