<% content_for :title, "Search for ##{@query}" %>
<% content_for :description, "Tìm kiếm các bài viết theo từ khoá ##{@query}" %>
<% content_for :body_class, 'search-page' %>

<% content_for :css_tags do %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= stylesheet_link_tag 'tag', media: 'all' %>
<% end %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= image_path 'search.png' %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2><%= " # #{@query}" %></h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-list">
        <%= render @posts %>
      </div>
    </div>
  </div>
</div>
