<% content_for :title, @post.title %>
<% content_for :description, @post.description %>

<% content_for :fb_meta_tags do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:description" content="<%= @post.description %>"/>
  <meta property="og:image" content="<%= @post.cover.url %>" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="fb:app_id" content="381510432318810" />
<% end %>

<% content_for :css_tags do %>
  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'github-markdown', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'clap_button', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '381510432318810',
            cookie     : true,
            xfbml      : true,
            version    : 'v3.1'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= @post.cover.url %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <span class="meta">Posted by <b style="font-weight: bold;"><%= @post.user.name %></b> <%= @post.created_at.to_date %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article class="markdown-body">
  <%= render 'shared/clap_button', view_mode: 'clap-pc' %>
  <%= markdown(@post.content) %>
  <div class="tags">
    <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tag_url(tag), class: 'black' %>
    <% end %>
  </div>
  <%= render 'shared/clap_button', view_mode: 'clap-mobile' %>
  <div class="fb-comments" data-href="<%= post_url(@post) %>" data-numposts="10" data-width="100%"></div>
</article>
<hr>
<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.1/mo.min.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag 'clap_button' %>
<% end %>
