<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= @post.cover.url %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <span class="meta">Posted by <b style="font-weight: bold;"><%= @post.user.name %></b> <%= @post.created_at.to_date %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= markdown(@post.content) %>
        <div class="tags">
          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, tag_url(tag), class: 'black' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</article>
<hr>