<tr class="user-<%= user.id %> user-row">
  <td class="text-center"><%= user_counter + 1 %></td>
  <td><%= image_tag avatar_url(user), class: 'rounded-circle list-avatar' %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td class="text-center">
    <%= link_to edit_admin_user_url(user), class: 'btn btn-primary' do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <%= link_to admin_user_url(user), method: :delete, class: 'btn btn-danger' do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>