<div class="card">
  <div class="card-header">
    <h4 class="card-title">Users</h4>
    <div class="header-actions">
      <%= link_to new_admin_user_url, class: 'btn-primary' do %>
        <i class="fa fa-plus"></i> <%= t '.new' %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <table class="modern-table">
      <thead>
        <tr>
          <th><%= t '.stt' %></th>
          <th class="no-sort"><%= t '.avatar' %></th>
          <th><%= t '.name' %></th>
          <th><%= t '.email' %></th>
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>
