<div id="image-file-<%= image_file.id %>">
  <div class="row">
    <div class="col-md-2" id="image">
      <%= image_tag image_file.image_url %>
    </div>
    <div class="col-md-8" id="url">
      <%= link_to image_file.image_identifier, image_file.image_url, target: :_blank %>
    </div>
    <div class="col-md-2" id="copy-url">
      <%= button_tag type: 'button', class: 'btn btn-info btn-icon btn-round btn-simple' do %>
        <i class="now-ui-icons files_single-copy-04" data-url="<%= image_file.image_url %>"></i>
      <% end %>
    </div>
  </div>
</div>
