<nav class="vertical-nav bg-primary">
  <div class="profile-header">
    <%= link_to edit_admin_user_path(current_admin_user) do %>
      <%= image_tag avatar_url(current_admin_user), class: 'rounded-circle nav-avatar' %>
  <% end %>
    <div class="divider" style="margin-bottom: 20px"></div>
  </div>
  <div class="nav-menu">
    <%= link_to t('.dashboard'), admin_dashboard_url, class: 'nav-link active' %>
    <%= link_to t('.user'), admin_users_url, class: 'nav-link' %>
    <%= link_to t('.post'), admin_posts_url, class: 'nav-link' %>
    <%= link_to t('.comment'), admin_comments_url, class: 'nav-link' %>
    <%= link_to t('.logout'), destroy_admin_user_session_url, method: :delete, class: 'nav-link' %>
  </div>
</nav>
<script type="text/javascript" charset="utf-8">
  $(".nav-menu a").removeClass("active");
  $(".nav-menu a[href$='<%= "#{request.path}?locale=#{I18n.locale}" %>']").addClass("active");
</script>