<aside class="admin-sidebar">
  <div class="logo">
    <%= link_to admin_root_path do %>
      <i class="fa fa-layer-group"></i>
      <span><%= t('title') %></span>
    <% end %>
  </div>

  <nav class="nav-menu">
    <%= link_to admin_users_path, class: ('active' if request.path.start_with?(admin_users_path)) do %>
      <i class="fa fa-users"></i>
      <span><%= t('.user') %></span>
    <% end %>

    <%= link_to admin_categories_path, class: ('active' if request.path.start_with?(admin_categories_path)) do %>
      <i class="fa fa-tags"></i>
      <span><%= t('.category') %></span>
    <% end %>

    <%= link_to admin_posts_path, class: ('active' if request.path.start_with?(admin_posts_path)) do %>
      <i class="fa fa-file-text-o"></i>
      <span><%= t('.post') %></span>
    <% end %>
  </nav>

  <div class="user-profile">
    <%= link_to destroy_admin_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out-alt"></i>
      <span><%= t('.logout') %></span>
    <% end %>
  </div>
</aside>
