<!DOCTYPE html>
<html lang="vi-VN">
  <head>
    <title><%= t 'title' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="<%= image_path('favicon.ico') %>" rel=icon>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/now_ui_dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/jquery.tagit', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/static_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/common', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/categories', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/image_files', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css_tags %>

    <%= javascript_include_tag 'jquery3', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.bundle', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/now_ui_dashboard', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'turbolinks', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'rails-ujs', 'data-turbolinks-track': 'reload' %>
    <%= yield :js_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <%= javascript_include_tag 'admin/tag-it.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/posts', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/static_pages', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/upload_preview', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/users', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <%= javascript_include_tag 'admin/common', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/categories', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/image_files', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/shared/navigation' %>
    <%= render 'shared/flash', flash: flash %>
    <div class="main-panel">
      <%= render 'admin/shared/head_nav' %>
      <div class="panel-header panel-header-sm">
        <canvas id="bigDashboardChart"></canvas>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'admin/shared/upload_modal' %>
      <%= render 'admin/shared/footer' %>
    </div>

    <%= yield :javascript %>
    <script type="text/javascript" charset="utf-8">
        $(".nav li").removeClass("active");
        $(".nav a[href$='<%= "#{request.path}" %>']").parent().addClass("active");
    </script>
  </body>
</html>
