<!DOCTYPE html>
<html lang="vi-VN">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : t(:title) %></title>
    <meta name="description" content="<%= content_for(:description) %>">
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Facebook Opengraph -->
    <%= yield :fb_meta_tags %>

    <%# PWA config %>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="NDDBlog">
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">

    <link href="<%= image_path('favicon.ico') %>" rel=icon>

    <link defer href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link defer href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'bootstrap', media: 'all' %>
    <%= stylesheet_link_tag 'font-awesome', media: 'all' %>
    <%= stylesheet_link_tag 'clean-blog', media: 'all' %>
    <%= stylesheet_link_tag 'common', media: 'all' %>
    <%= stylesheet_link_tag 'posts', media: 'all' %>
    <%= yield :css_tags %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'jquery-3.5.0.min' %>
    <%= javascript_include_tag 'bootstrap.bundle' %>
    <%= javascript_include_tag 'turbolinks' %>
    <%= javascript_include_tag 'clean-blog' %>
    <%= javascript_include_tag 'common' %>
    <%= javascript_include_tag 'sw_reg' %>
    <%= javascript_include_tag 'pwa_install' %>
    <%= yield :javascript %>
  </body>
</html>
