<!DOCTYPE html>
<html lang="vi-VN">
  <head>
    <!-- Google Tag Manager -->
    <script>
      if (window.location.hostname !== 'localhost') {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5RJ2GLQ');
      }
    </script>
    <!-- End Google Tag Manager -->

    <title><%= content_for?(:title) ? "#{yield(:title)} | NDD Blog" : t(:title) %></title>
    <meta name="description" content="<%= content_for(:description) %>">
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Facebook Opengraph -->
    <%= yield :fb_meta_tags %>

    <%# PWA config %>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="NDDBlog">
    <meta name="theme-color" content="#FAFAFA" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">

    <link href="<%= image_path('favicon.ico') %>" rel=icon>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'modern_blog', media: 'all' %>
    <%= yield :css_tags %>
  </head>

  <body class="modern-blog <%= yield(:body_class) %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RJ2GLQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= render 'shared/navigation' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'jquery-3.4.1.min' %>
    <%= javascript_include_tag 'modern_blog' %>
    <%= yield :javascript %>
  </body>
</html>
